
.rules {
	position: relative;
	width: 100%;
	padding: 2rem 1rem 0;

	&__navigate {
		position: relative;
	}

	&__info {
		position: relative;
		z-index: 10;
		width: 100%;
		min-height: 60vh;
		border-top: 1px solid $col-glass-05;
		@extend %gradient-bg;
		backdrop-filter: blur(3px);
	}
}

.rules-nav {
	position: relative;
	top: 1.5rem;
	display: flex;
	justify-content: space-between;

	&__item {
		position: relative;
		top: 0;
		z-index: 8;
		display: flex;
		align-items: center;
		height: 3rem;
		padding: 0.5rem;
		border-top: 1px solid $col-glass-05;
		@extend %gradient-bg;
		backdrop-filter: blur(3px);
		cursor: pointer;
		overflow: hidden;
		user-select: none;
		transition: top 0.5s, z-index 0.5s, transform 0.5s;
		transition-delay: 0.5s, 0s, 0s;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -4rem;
			// right: auto;
			bottom: 0;
			display: block;
			width: 3rem;
			background-color: $col-glass-08;
			transform: skewX(45deg);
			transition: left 0.2s;
		}

		&:hover::before {
			left: calc(100% + 1rem);
		}

		&.active {
			transition-delay: 0s, 0.5s, 0.5s;
			z-index: 12;
			top: -2rem;
			transform: translateY(2rem);
		}

		&:not(:first-child) {
			flex: 1 1 20%;
			margin-left: 1rem;
		}
	}

	&__icon {
		width: 2rem;
		height: 2rem;
		margin-right: 0.5rem;
	}

	&__text {
		display: block;
		height: 2rem;
		color: $col-text-dark;
		line-height: 1.6rem;
		font-size: 1.5rem;
	}
}

.rules-info {
	padding: 2rem 1rem 1rem;

	&__title {
		font-size: 2rem;
		text-align: center;
		@extend %text-3d;
	}

	&__text {
		margin-top: 0.5rem;
		text-indent: 1rem;
		color: $col-text-dark;
		line-height: 1.2rem;
		text-shadow: 0 0 1px rgb(0,0,150);
	}

	&__icon {
		display: inline-block;
		vertical-align: middle;
		width: 2rem;
	}

	&__bldg-info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
		margin-top: 0.5rem;
	}

	&__bldg-cont {
		flex: 1 1 6rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__bldg-model {


		&--1x1 {
			width: 2rem;
			height: 2rem;
		}
		&--2x1 {
			width: 4rem;
			height: 2rem;
		}
		&--2x2 {
			width: 4rem;
			height: 4rem;
		}
		&--2x3 {
			width: 4rem;
			height: 6rem;
		}
		&--3x3 {
			width: 6rem;
			height: 6rem;
		}
	}

	&__bldg-rules {
		flex: 1 1 calc(100% - 7rem);
		display: flex;
		align-items: center;
		margin-left: 1rem;
	}
}

.br {
	flex: 0 0 100%;
}

